<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/public/css/main.css">
  <title>Final Project</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
  <script type="text/javascript" src = "../../index.js"></script>
</head>
<div class="nav">
  <div id = "navigation_bar">
    {{>nav}}
  </div>
</div>

<body>
  <article id = "input">
        <h3>Enter Restaurant:</h3>
        <input id = "rest_input" type = "text" placeholder = "Ex. Taco Bell"> 
        
        <div id = "hi"></div>
  </article>
 <script>
    
  </script>
  {{{body}}}
</body>

</html>
